<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label lang="de">ToolKit</label>
    <label lang="en">ToolKit</label>

    <version>2.1.0</version>
    <link>http://www.shopinventors.de</link>
    <author>Net Inventors GmbH</author>
    <compatibility minVersion="5.2.6"/>

    <changelog version="2.1.0">
        <changes lang="de"><![CDATA[
[#26336] Attribut-Daten und Firmenname zum UserData-Array hinzugefügt.
Die Konfigurationsoption für die sUserLoggedIn-Smarty-Variable wurde aus Performance-Gründen entfernt, der Wert wird nun immer ans Template übergeben.
[#25802] Custom HTML/JS Code Einkaufsweltelement wurde reimplementiert.
]]></changes>
        <changes lang="en"><![CDATA[
[#26336] Added attribute data and company name to user data array.
The config option to disable the sUserLoggedIn smarty variable was removed for performance reasons. The variable is now always assigned.
[#25802] Reimplement custom HTML/JS Code emotion component.
]]></changes>
    </changelog>

    <changelog version="2.0.0">
        <changes lang="de">Refaktorierung zur Nutzung des neuen Plugin-Systems</changes>
        <changes lang="en">Refactoring for the usage of the new plugin system</changes>
    </changelog>

    <requiredPlugins>
        <requiredPlugin pluginName="NetiFoundation" minVersion="2.0.3"/>
    </requiredPlugins>
</plugin>
