<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element scope="shop" type="boolean">
            <name>listingProperties</name>
            <label lang="de">Artikeleigenschaften im Listing zu Verfügung stellen.</label>
            <label lang="en">Add product properties to listing products.</label>
            <value>0</value>
            <description lang="de">
                <![CDATA[ Fügt dem sArticle-Array die Property-Sets hinzu, wie sie auf der Detailseite verfügbar sind. ]]>
            </description>
            <description lang="en">
                <![CDATA[ Adds the Property sets to the sArticle array in the frontend listing, the same way they are available on the Detail page. ]]>
            </description>
        </element>

        <element scope="shop" type="boolean">
            <name>globalLoginState</name>
            <label lang="de">$sUserLoggedIn global bereitstellen</label>
            <label lang="en">provide $sUserLoggedIn globally</label>
            <value>1</value>
        </element>

        <element scope="shop" type="boolean">
            <name>globalUserData</name>
            <label lang="de">$netiUserData global bereitstellen</label>
            <label lang="en">provide $netiUserData globally</label>
            <value>1</value>
        </element>
    </elements>
</config>
